.place__website_url-heading {
font-weight: 400;
font-size: 12px;
line-height: 170%;
letter-spacing: 2px;
margin: 0;
color: #AAAAAA;
}

@media screen and (max-width: 1023px) {
.place__website_url-heading {
font-size: 12px;
}
}

@media screen and (max-width: 767px) {
.place__website_url-heading {
line-height: 100%;   
}
}