.footer__navigation {
display: grid;
column-gap: 18px;
row-gap: 0;
grid-template-columns: 50px 57px 94px 86px 106px;
}

@media screen and (max-width: 767px) {
.footer__navigation {
max-width: 186px;
display: grid;
column-gap: 0;
row-gap: 32px;
grid-template-columns: 288px;
grid-template-rows: repeat(5, 24px);
margin: 0 auto 48px auto;
justify-content: center;
}
}