.footer {
max-width: 1184px;
margin: 94px auto 24px auto;
justify-content: center;
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: space-between;
}

@media screen and (max-width: 1279px) {
.footer {
max-width: 928px;
}
} 

@media screen and (max-width: 1023px) {
.footer {
max-width: 720px;
margin: 88px auto 24px auto;
}
}

@media screen and (max-width: 767px) {
.footer {
max-width: 288px;
display: grid;
justify-content: center;
margin: 64px auto 24px auto;
}
}